.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.tags { 
	display: flex;
	/*
	flex-direction: row;
	flex-wrap: wrap;
	*/
	flex-flow: row wrap;
	justify-content: center;
}
