.box {
	border: solid lightblue 5px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 40px;
}

h2 {
	text-align: center;
	background-image: 		url(star.png),
												url(star.png);
	background-repeat:		no-repeat,
												repeat-y;
	background-position: 	left 	 center,
												right  center;
}
