/* General setup */

* {
  box-sizing: border-box;
}

body { 
	margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */
section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #aa6666;
  border-bottom: 5px solid #aa6666;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
    font-family: 'DejaVu Serif';
    src: url('fonts/DejaVuSerif/DejaVuSerif.eot');
    src: url('fonts/DejaVuSerif/DejaVuSerif.eot?#iefix') format('embedded-opentype'),
        url('fonts/DejaVuSerif/DejaVuSerif.woff2') format('woff2'),
        url('fonts/DejaVuSerif/DejaVuSerif.woff') format('woff'),
        url('fonts/DejaVuSerif/DejaVuSerif.svg#DejaVuSerif') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copse';
    src: url('fonts/Copse/Copse-Regular.eot');
    src: url('fonts/Copse/Copse-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Copse/Copse-Regular.woff2') format('woff2'),
        url('fonts/Copse/Copse-Regular.woff') format('woff'),
        url('fonts/Copse/Copse-Regular.svg#Copse') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2 {
	font-family: 'Copse', 'Verdana',  'Trebuchet MS', 'Arial', sans-serif;
}

p {
	font-family: 'DejaVu Serif', 'Georgia', 'Times New Roman', 'Times', serif;
}

* {
	font-size: 10px;	
}

h1,
h2 {
	font-size: 4.25em;
	letter-spacing: .1em;
	word-spacing: .1em;
}


h1 {
	text-align: center;
}

p,
li { 
	font-size: 2em;
	line-height: 1.5em;
	letter-spacing: .03em;
	word-spacing: .03em;
}

h1 + p,
h2 + p {
	text-indent: 1.5em;
}

a {
	font-size: 1em;
	outline: none;
}

a:link {
	color: #aa6666;
}

a:visited {
	color: #006666;
}

a:focus {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	background: #66aaaa;
	color: white;
}

a[href^="https"] {
	background: url('external-link.png') no-repeat 100% 50%;
	background-size: .75em;
	padding-right: 1em;
}

nav {
	margin-top: 5em;
}

nav ul {
	padding-left: 0;
	list-style: none;
}

nav li {
	text-align: center;
	line-height: 5em;
	border-bottom: 5px solid #aa6666;
	border-right: 5px solid #aa6666;
	border-left: 5px solid #aa6666;
}

nav li:first-child {
	border-top: 5px solid #aa6666;
}

nav a:link {
	text-decoration: none;
	font-size: 1.5em;
	color: #aa6666;
}


nav a:visited {
	color: #aa6666;
}

nav a:focus {
	outline: dotted 2px #aa6666;
	text-decoration: underline;
}

nav a:hover {
	text-decoration: underline;
}

nav a:active {
	background: #aa6666;
	color: white;
}
